/* src/components/Chatbot.css */
.chatbot-container {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.chat-history {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-message {
  margin: 5px 0;
}

.chat-message.user {
  text-align: right;
  color: blue;
}

.chat-message.system {
  text-align: left;
  color: gray;
}

.chat-input {
  display: flex;
  justify-content: space-between;
}

.chat-input input {
  flex: 1;
  padding: 8px;
}

.chat-input button {
  margin-left: 10px;
  padding: 8px 16px;
}

